@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudText Typo="Typo.h5" Class="ml-3">Markdown to HTML Converter</MudText>
        <MudSpacer />
        <MudTooltip Duration="1000" Text="GitHub Repository">
            <MudIconButton Link="https://github.com/s1v/MarkdownConverter" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End" />
        </MudTooltip>
    </MudAppBar>
    <MudMainContent Style="height: 100vh;">
        <div class="page-content" style="padding: 1rem;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>